<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <span class="text-start"><small>Copyright © 2022</small></span>
            </div>
            <div class="col">
                <div class="animate__animated animate__pulse animate__infinite">
                    <span class="text-end"><img style="padding-top: 12px;" class="float-end" src="ahrm.png" alt="Alternate Text" width="25" /></span>
                </div>
            </div>
        </div>
    </div>
</footer>
