@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar animate__animated animate__fadeInLeft">
        <NavMenu />
    </div>

    <main class = "site animate__animated animate__fadeIn animate__delay-1s">
        <article class="content px-4">
            @Body
        </article>
        <Footer />
    </main>
</div>
