@inherits LayoutComponentBase
@attribute [Authorize]
<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar animate__animated animate__fadeInLeft">
                <NavMenu />
            </div>

            <main class="site animate__animated animate__fadeIn animate__delay-1s">
                <article class="content px-4">
                    @Body
                </article>
                <Footer />
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <div style="text-align:center;">
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <div class="col animate__animated animate__rotateIn">
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <div class="animate__animated animate__pulse animate__infinite animate__delay-1s">
                            <img src="ahrm.png" alt="Alternate Text" width="150" />
                        </div>
                        <br />
                        <div class="animate__animated animate__fadeIn animate__delay-1s">
                            <h5 class="text-danger">You are not authorized to view this page.</h5>
                            
                        </div>
                        <div class = "animate__animated animate__fadeIn animate__delay-2s">
                            <p><a href = "" class = "text-primary">Click here</a> to log in.</p>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>

    </NotAuthorized>
</AuthorizeView>
