@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">&nbsp;&nbsp;&nbsp;&nbsp;<img src="ahrm.png" alt="Alternate Text" width="35" />&nbsp; <b>Aurora HRM</b></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <div class="menu">
                <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                    <span class="oi" aria-hidden="true"><i class="fa fa-desktop" aria-hidden="true"></i></span> Dashboard
                </NavLink>
            </div>
        </div>
        <div class="nav-item px-3">
            <div class="menu">
                <NavLink class="nav-link">
                    <span class="oi" aria-hidden="true"><i class="fa fa-user" aria-hidden="true"></i></span> Myself
                </NavLink>
            </div>
            <ul class="submenu">
                <li><a class="nav-link"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;Employee</a></li>
            </ul>
        </div>
        <div class="nav-item px-3">
            <div class="menu">
                <NavLink class="nav-link">
                    <span class="oi" aria-hidden="true"><i class="fa fa-users" aria-hidden="true"></i></span> My Subordinates
                </NavLink>
            </div>
            <ul class="submenu">
                <li><a class="nav-link"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;Employee</a></li>
            </ul>
        </div>
        <div class="nav-item px-3">
            <div class="menu">
                <NavLink class="nav-link">
                    <span class="oi" aria-hidden="true"><i class="fa fa-suitcase" aria-hidden="true"></i></span> HR User
                </NavLink>
            </div>
            <ul class="submenu">
                <li><NavLink class="nav-link" href="employeehr"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;Employee</NavLink></li>
            </ul>
        </div>
        <div class="nav-item px-3">
            <div class="menu">
                <NavLink class="nav-link" href="counter">
                    <span class="oi" aria-hidden="true"><i class="fa fa-plus" aria-hidden="true"></i></span> Counter
                </NavLink>
            </div>
        </div>
        <div class="nav-item px-3">
            <div class="menu" style="cursor:pointer;">
                <NavLink class="nav-link" @onclick = "Logout">
                    <span class="oi text-danger" aria-hidden="true"><i class="fa fa-power-off" aria-hidden="true"></i></span>Logout
                </NavLink>
            </div>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task Logout()
    {   //Removing authToken from localStorage
        await LocalStorage.RemoveItemAsync("authToken");
        await AuthenticationStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("");
    }
}
