p[b-b0xp573z4b] {
    background-color: #EBEBEB;
}
.inputContainer[b-b0xp573z4b] {
    position: relative;
}

.icon[b-b0xp573z4b] {
    position: absolute;
    top: 10px;
    left: auto;
    right: 10px;
}