.pbackground[b-qejpcfnf5b] {
    background-color: #EBEBEB;
}

.icon[b-qejpcfnf5b] {
    position: absolute;
    top: 10px;
    left: auto;
    right: 10px;
}

.card[b-qejpcfnf5b] {
    background: rgb(255,239,226);
    background: radial-gradient(circle, rgba(255,239,226,1) 0%, rgba(255,255,255,1) 180%);
}
.pagination > li > a[b-qejpcfnf5b] {
    background-color: white;
    color: #f5af76;
}

    .pagination > li > a:focus[b-qejpcfnf5b],
    .pagination > li > a:hover[b-qejpcfnf5b],
    .pagination > li > span:focus[b-qejpcfnf5b],
    .pagination > li > span:hover[b-qejpcfnf5b] {
        color: #5a5a5a;
        background-color: #eee;
        border-color: #ddd;
    }

.pagination > .active > a[b-qejpcfnf5b] {
    color: white;
    background-color: #f5af76 !Important;
    border: solid 1px #f5af76 !Important;
}

    .pagination > .active > a:hover[b-qejpcfnf5b] {
        background-color: #f5af76 !Important;
        border: solid 1px #f5af76;
    }