*[b-9tmp1sm1bs] {
    font-family: Century Gothic;
}

.navbar-toggler[b-9tmp1sm1bs] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-9tmp1sm1bs] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-9tmp1sm1bs] {
    font-size: 1rem;
}

.submenu[b-9tmp1sm1bs] {
    font-size: 0.6rem;
}

    .submenu:hover[b-9tmp1sm1bs] {
        transform: scale(1.1);
        transition: all 0.3s;
    }

.menu:hover[b-9tmp1sm1bs] {
    transform: scale(1.1);
    transition: all 0.3s;
}

.oi[b-9tmp1sm1bs] {
    width: 1.5rem;
    font-size: 0.8rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-9tmp1sm1bs] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-9tmp1sm1bs] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-9tmp1sm1bs] {
        padding-bottom: 1rem;
    }

    .nav-item[b-9tmp1sm1bs]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 2rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-9tmp1sm1bs]  a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item[b-9tmp1sm1bs]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-9tmp1sm1bs] {
        display: none;
    }

    .collapse[b-9tmp1sm1bs] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
