p {
    background-color: #EBEBEB;
}
.inputContainer {
    position: relative;
}

.icon {
    position: absolute;
    top: 10px;
    left: auto;
    right: 10px;
}

.card {
    background: rgb(255,239,226);
    background: radial-gradient(circle, rgba(255,239,226,1) 0%, rgba(255,255,255,1) 180%);
}