@page "/home"

<PageTitle>Aurora HRM</PageTitle>
<div class="row">
    <div class="col">
        <div class="animate__animated animate__fadeOut animate__delay-5s">
            <h1 class="text-success">Welcome!</h1>
        </div>
    </div>
    <div class="col">
        <div style="text-align: right;">
            <h5>Work in Progress</h5>
        </div>
    </div>
</div>



<div class="row">
    <div class="col"></div>
    <div class="col">
        <div class="row">
            <div class="col"></div>
            <div class="col animate__animated animate__rotateIn animate__delay-1s">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <div class="animate__animated animate__pulse animate__infinite animate__delay-1s">
                    <img src="ahrm.png" alt="Alternate Text" width="150" />
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="col"></div>

</div>
<!--
<SurveyPrompt Title="??" />
-->
