@page "/home"

<PageTitle>Aurora HRM</PageTitle>

<h1>Work in Progress</h1>

<div class="row">
    <div class="col"></div>
    <div class="col">
        <div class="row">
            <div class="col"></div>
            <div class="col animate__animated animate__rotateIn animate__delay-1s">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <div class="animate__animated animate__pulse animate__infinite animate__delay-1s">
                    <img src="ahrm.png" alt="Alternate Text" width="150" />
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="col"></div>

</div>
<!--
<SurveyPrompt Title="??" />
-->
