/* /Pages/AddUserPage.razor.rz.scp.css */
p[b-b0xp573z4b] {
    background-color: #EBEBEB;
}
.inputContainer[b-b0xp573z4b] {
    position: relative;
}

.icon[b-b0xp573z4b] {
    position: absolute;
    top: 10px;
    left: auto;
    right: 10px;
}

.card[b-b0xp573z4b] {
    background: rgb(255,239,226);
    background: radial-gradient(circle, rgba(255,239,226,1) 0%, rgba(255,255,255,1) 180%);
}
/* /Pages/Camera.razor.rz.scp.css */
video[b-evzoctksx6] {
    width: 100%;
    max-height: 100%;
}

button[b-evzoctksx6] {
    margin: 0 auto;
    display: block;
}

    button:hover[b-evzoctksx6] {
        transform: scale(1.1);
        transition: all 0.3s;
    }
/* /Pages/ForgotPasswordPage.razor.rz.scp.css */
/*
#customanimate {
    transform: translateX(0px);
    -webkit-animation: move 1s;
    animation: move 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes move {
    from {
        -webkit-transform: translateY(0px);
    }

    to {
        -webkit-transform: translateY(-210px);
    }
}

@keyframes move {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-210px);
    }
}
*/
.card[b-h3dicfxrfl] {
    border-radius: 6px;
}

button[b-h3dicfxrfl] {
    background-color: rgba(255, 153, 51, 0.8);
    border: none;
}
    button:hover[b-h3dicfxrfl] {
        background-color: rgba(253, 127, 44, 0.8);
        transform: scale(1.1);
        transition: all 0.3s;
    }

    button:active[b-h3dicfxrfl] {
        background-color: rgba(255, 153, 51, 0.8);
    }

    button:focus[b-h3dicfxrfl] {
        background-color: rgba(253, 127, 44, 0.8);
    }
/* /Pages/HRuserEmployeePage.razor.rz.scp.css */
#matrix[b-8g42dhj59n] {
    margin: 0 auto;
    padding: 5px;
}

    #matrix tr[b-8g42dhj59n], td[b-8g42dhj59n], div[b-8g42dhj59n] {
        padding: 5px;
    }

    #matrix button[b-8g42dhj59n] {
        height: 80px;
        width: 150px;
        border: none;
        font-family: helvetica;
        font-weight: bold;
    }

#b1[b-8g42dhj59n], #b3[b-8g42dhj59n] {
    background-color: rgba(249,196,152,0.8);
    color: #424242;
    border-radius: 6px;
}

    #b1:hover[b-8g42dhj59n], #b3:hover[b-8g42dhj59n] {
        background-color: rgba(249,196,152,1);
        color: black;
        transform: scale(1.1);
        transition: all 0.3s;
    }


#b2:hover[b-8g42dhj59n] {
    background-color: rgb(15, 138, 15);
}


#b4[b-8g42dhj59n] {
    background-color: rgba(189, 15, 15, 0.6);
}

    #b4:hover[b-8g42dhj59n] {
        background-color: rgb(189, 15, 15);
    }

.container[b-8g42dhj59n] {
    background: rgb(255,239,226);
    background: radial-gradient(circle, rgba(255,239,226,1) 0%, rgba(255,255,255,1) 180%);
    border-radius: 6px;
}
/* /Pages/LoginPage.razor.rz.scp.css */
#customanimate[b-6nerrivofu] {
    transform: translateX(0px);
    -webkit-animation: move 1s;
    animation: move-b-6nerrivofu 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}



@-webkit-keyframes move {
    from {
        -webkit-transform: translateY(0px);
    }

    to {
        -webkit-transform: translateY(-210px);
    }
}

@keyframes move-b-6nerrivofu {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-210px);
    }
}

.card[b-6nerrivofu] {
    border-radius: 6px;
}

button[b-6nerrivofu] {
    background-color: rgba(255, 153, 51, 0.8);
    border: none;
}
    button:hover[b-6nerrivofu] {
        background-color: rgba(253, 127, 44, 0.8);
        transform: scale(1.1);
        transition: all 0.3s;
    }

    button:active[b-6nerrivofu] {
        background-color: rgba(255, 153, 51, 0.8);
    }

    button:focus[b-6nerrivofu] {
        background-color: rgba(253, 127, 44, 0.8);
    }
/* /Pages/MyLocation.razor.rz.scp.css */
button[b-np2g72lhsj] {
    margin: 0 auto;
    display: block;
}

    button:hover[b-np2g72lhsj] {
        transform: scale(1.1);
        transition: all 0.3s;
    }
.content[b-np2g72lhsj] {
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;
}

.detailcard[b-np2g72lhsj] {
    background: rgb(255,239,226);
    background: radial-gradient(circle, rgba(255,239,226,1) 0%, rgba(255,255,255,1) 180%);
}
/* /Pages/Profile.razor.rz.scp.css */
.pbackground[b-qejpcfnf5b] {
    background-color: #EBEBEB;
}

.icon[b-qejpcfnf5b] {
    position: absolute;
    top: 10px;
    left: auto;
    right: 10px;
}

.card[b-qejpcfnf5b] {
    background: rgb(255,239,226);
    background: radial-gradient(circle, rgba(255,239,226,1) 0%, rgba(255,255,255,1) 180%);
}

    .card:hover[b-qejpcfnf5b] {
        transform: scale(1.03);
        transition: all 0.3s;
    }

.pagination > li > a[b-qejpcfnf5b] {
    background-color: white;
    color: #f5af76;
}

    .pagination > li > a:focus[b-qejpcfnf5b],
    .pagination > li > a:hover[b-qejpcfnf5b],
    .pagination > li > span:focus[b-qejpcfnf5b],
    .pagination > li > span:hover[b-qejpcfnf5b] {
        color: #5a5a5a;
        background-color: #eee;
        border-color: #ddd;
    }

.pagination > .active > a[b-qejpcfnf5b] {
    color: white;
    background-color: #f5af76 !Important;
    border: solid 1px #f5af76 !Important;
}

    .pagination > .active > a:hover[b-qejpcfnf5b] {
        background-color: #f5af76 !Important;
        border: solid 1px #f5af76;
    }
/* /Pages/ProfileSecond.razor.rz.scp.css */
.pbackground[b-b2h19aopvf] {
    background-color: #EBEBEB;
}

.icon[b-b2h19aopvf] {
    position: absolute;
    top: 10px;
    left: auto;
    right: 10px;
}

.card[b-b2h19aopvf] {
    background: rgb(255,239,226);
    background: radial-gradient(circle, rgba(255,239,226,1) 0%, rgba(255,255,255,1) 180%);
}

    .card:hover[b-b2h19aopvf] {
        transform: scale(1.03);
        transition: all 0.3s;
    }

.pagination > li > a[b-b2h19aopvf] {
    background-color: white;
    color: #f5af76;
}

    .pagination > li > a:focus[b-b2h19aopvf],
    .pagination > li > a:hover[b-b2h19aopvf],
    .pagination > li > span:focus[b-b2h19aopvf],
    .pagination > li > span:hover[b-b2h19aopvf] {
        color: #5a5a5a;
        background-color: #eee;
        border-color: #ddd;
    }

.pagination > .active > a[b-b2h19aopvf] {
    color: white;
    background-color: #f5af76 !Important;
    border: solid 1px #f5af76 !Important;
}

    .pagination > .active > a:hover[b-b2h19aopvf] {
        background-color: #f5af76 !Important;
        border: solid 1px #f5af76;
    }
/* /Pages/ProfileThird.razor.rz.scp.css */
.pbackground[b-xhe1wnp9eo] {
    background-color: #EBEBEB;
}

.icon[b-xhe1wnp9eo] {
    position: absolute;
    top: 10px;
    left: auto;
    right: 10px;
}

.card[b-xhe1wnp9eo] {
    background: rgb(255,239,226);
    background: radial-gradient(circle, rgba(255,239,226,1) 0%, rgba(255,255,255,1) 180%);
}

    .card:hover[b-xhe1wnp9eo] {
        transform: scale(1.03);
        transition: all 0.3s;
    }

.pagination > li > a[b-xhe1wnp9eo] {
    background-color: white;
    color: #f5af76;
}

    .pagination > li > a:focus[b-xhe1wnp9eo],
    .pagination > li > a:hover[b-xhe1wnp9eo],
    .pagination > li > span:focus[b-xhe1wnp9eo],
    .pagination > li > span:hover[b-xhe1wnp9eo] {
        color: #5a5a5a;
        background-color: #eee;
        border-color: #ddd;
    }

.pagination > .active > a[b-xhe1wnp9eo] {
    color: white;
    background-color: #f5af76 !Important;
    border: solid 1px #f5af76 !Important;
}

    .pagination > .active > a:hover[b-xhe1wnp9eo] {
        background-color: #f5af76 !Important;
        border: solid 1px #f5af76;
    }
/* /Pages/ResetPasswordPage.razor.rz.scp.css */
/*
#customanimate {
    transform: translateX(0px);
    -webkit-animation: move 1s;
    animation: move 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes move {
    from {
        -webkit-transform: translateY(0px);
    }

    to {
        -webkit-transform: translateY(-210px);
    }
}

@keyframes move {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-210px);
    }
}
*/
.card[b-9za4gr5168] {
    border-radius: 6px;
}

button[b-9za4gr5168] {
    background-color: rgba(255, 153, 51, 0.8);
    border: none;
}
    button:hover[b-9za4gr5168] {
        background-color: rgba(253, 127, 44, 0.8);
        transform: scale(1.1);
        transition: all 0.3s;
    }

    button:active[b-9za4gr5168] {
        background-color: rgba(255, 153, 51, 0.8);
    }

    button:focus[b-9za4gr5168] {
        background-color: rgba(253, 127, 44, 0.8);
    }
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-5jn4fhg0h2] {
    position: relative;
    display: flex;
    flex-direction: column;
}


main[b-5jn4fhg0h2] {
    flex: 1;
}

.sidebar[b-5jn4fhg0h2] {
    background-image: linear-gradient(180deg, rgb(249, 196, 152) 50%, #e0e0e0 130%);
}

.top-row[b-5jn4fhg0h2] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-5jn4fhg0h2]  a, .top-row[b-5jn4fhg0h2]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-5jn4fhg0h2]  a:hover, .top-row[b-5jn4fhg0h2]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-5jn4fhg0h2]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-5jn4fhg0h2] {
        display: none;
    }

    .top-row.auth[b-5jn4fhg0h2] {
        justify-content: space-between;
    }

    .top-row[b-5jn4fhg0h2]  a, .top-row[b-5jn4fhg0h2]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-5jn4fhg0h2] {
        flex-direction: row;
    }

    .sidebar[b-5jn4fhg0h2] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-5jn4fhg0h2] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-5jn4fhg0h2]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-5jn4fhg0h2], article[b-5jn4fhg0h2] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
*[b-9tmp1sm1bs] {
    font-family: Century Gothic;
}

.navbar-toggler[b-9tmp1sm1bs] {
    background-color: rgba(158, 158, 158,0.25);
}

.top-row[b-9tmp1sm1bs] {
    height: 3.5rem;
    background-color: rgba(232, 232, 232,0.30);
}

.navbar-brand[b-9tmp1sm1bs] {
    font-size: 1rem;
}

.submenu[b-9tmp1sm1bs] {
    font-size: 0.7rem;
}

    .submenu:hover[b-9tmp1sm1bs] {
        transform: scale(1.1);
        transition: all 0.3s;
    }

.menu:hover[b-9tmp1sm1bs] {
    transform: scale(1.1);
    transition: all 0.3s;
}

.oi[b-9tmp1sm1bs] {
    width: 1.5rem;
    font-size: 0.8rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-9tmp1sm1bs] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-9tmp1sm1bs] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-9tmp1sm1bs] {
        padding-bottom: 1rem;
    }

    .nav-item[b-9tmp1sm1bs]  a {
        color: #5c5c5c;
        border-radius: 4px;
        height: 2rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-9tmp1sm1bs]  a.active {
            background-color: rgba(255,255,255,0.3);
            color: black;
        }

        .nav-item[b-9tmp1sm1bs]  a:hover {
            background-color: rgba(255,255,255,0.2);
            color: #424242;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-9tmp1sm1bs] {
        display: none;
    }

    .collapse[b-9tmp1sm1bs] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
